@import "tailwindcss";


/*==========Declaring root element==========*/
:root {
    /*==========Declaring color variables==========*/
    --color-text: #2e2e2e;
    --color-background: #e5e1e2;
    --color-primary: #483528;
    --color-secondary: #b2a595;
    --color-accent: #d97f3a;
    --color-gold: #FFD700;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-success: #28a745;
    --color-success-light: #d4edda;
    --color-error: #dc3545;
    --color-error-light: #e4b5ba;

    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) var(--color-secondary);
}

/*==========Declaring body element==========*/
body {
    background-color: var(--color-background);
    color: var(--color-text);

    /*==========Declaring font-style==========*/
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

.boxShadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.boxShadow:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.user-bg-image {
    background-image: url('../src/assets/images/Account-backgroundImage.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
