/*==========Declaring root element==========*/
:root {
    /*==========Declaring color variables==========*/
    --color-background: rgb(228, 224, 225);
    --color-primary: rgb(73, 54, 40);
    --color-text-1: white;
    --color-text-2: black;
    --color-darkBackground: black;

    /*==========Declaring font-style==========*/
    font-family: 'Courier New', Courier, monospace;
}

/*==========Declaring body element==========*/
body {
    background-color: var(--color-background);
    color: var(--color-primary);
}