@import "tailwindcss";


/*==========Declaring root element==========*/
:root {
    /*==========Declaring color variables==========*/
    --color-text: #2e2e2e;
    --color-background: #e5e1e2;
    --color-primary: #483528;
    --color-secondary: #b2a595;
    --color-accent: #d97f3a;
    --color-gold: #FFD700;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-success: #28a745;
    --color-success-light: #d4edda;
    --color-error: #dc3545;
}

/*==========Declaring body element==========*/
body {
    background-color: var(--color-background);
    color: var(--color-text);

    /*==========Declaring font-style==========*/
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

